<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.6.4" targetFramework="net472" />
  <package id="Silverlight.Advanced.ToolTips" version="2.2.0" targetFramework="net472" />
</packages>